# Dependencies
node_modules/
jspm_packages/

# Android specifics
android/app/build/
android/.gradle/
android/local.properties
android/generated/
*.keystore
!android/app/debug.keystore

# iOS specifics
ios/build/
ios/Pods/
ios/Index/
*.xcworkspace
!ios/Pods/Pods.xcodeproj

# Environment variables (Crucial for your API keys!)
.env
.env.local
.env.development.local

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor folders
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj

# React Native
.bundle/
.watchmanconfig

# Metro / cache
.metro-cache/

# OS files
.DS_Store

# Logs
*.log
